html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 5%;
  background: #eee;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .Content {
    flex-direction: column;
  }
}

/*   latest  styles   */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plus-minus {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1rem;
  height: auto;
  width: 80px;
}
.plus-minus-minus {
  font-weight: 900;
  font-size: larger;
  margin-right: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.plus-minus-plus {
  font-weight: 500;
  font-size: large;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.controls {
  display: flex;
  /* flex-direction: column; */
  flex: 1;
}
.controls button {
  height: 40px;
  border-radius: 25px;
  border: 0;

  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  /* position: relative; */
  outline: 0;
  transition: all 0.3s;
  padding: 5px 15px;
}
.controls p {
  font-size: 1rem;
}
.start-btn {
  background: #4f8bd9;
  color: #fff;
  font-size: 1rem;
}

.start-btn:hover {
  background: #2471d6;
}

.pause-btn {
  background: #eea73c;
  color: #fff;
}

.pause-btn:hover {
  background: #d3912f;
}

.reset-btn {
  background: transparent;
  flex: 0;
  margin-right: 25px;
  color: #888;
}

.reset-btn:hover {
  color: #666;
}

.time-display h1 {
  font-size: 3rem;
}
.time-display p {
  font-size: 14px;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 3px;
  margin: 10px 0 0;
}

.circle {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.status-display {
  margin: 0;
  padding-bottom: 15px;
}
.status-display p {
  color: #1d1211;
  font-size: 1.7rem;
}
.status-display p span {
  padding: 2px;
  letter-spacing: 2px;
  background: #fff;
  color: #d3912f;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 12%);
}

.alert-box {
  position: absolute;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 300px;
  border-radius: 4px;
  background: rgba(14, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.alert-box p {
  font-size: 1.9rem;
}
.user-options {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 3.5%;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
}
.yes {
  cursor: pointer;
  background-color: rgb(77, 199, 77);
}
.yes:hover {
  cursor: pointer;
  font-weight: 800;
  background-color: green;
}

.close {
  cursor: pointer;
  background-color: rgb(212, 55, 55);
}
.close:hover {
  cursor: pointer;
  font-weight: 800;
  background-color: red;
}

.hide {
  display: none;
}
